<div class="container-fluid wrapper">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center" >{{'NAVBAR.CONTACT' | translate}}</h2>
		</div>
		<div class="col-sm-1 "></div>
		<div class="col-sm-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d788.4295201097835!2d24.950598249453773!3d37.77320808282745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a2f9cec7d8504b%3A0x5cd135c02f152c6f!2sAndros+Adventures!5e0!3m2!1sen!2sde!4v1537459293474" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d788.4299044487339!2d24.950316617507212!3d37.77317204061896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a2f9cec7d8504b%3A0x5cd135c02f152c6f!2sAndros+Adventures!5e0!3m2!1sen!2sde!4v1537459111034" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
		</div>

		<div class="col-sm-5 bodyWrapper">
			<p>{{'CONTACT.PHONE' | translate}}<a class="float-right" href="tel:00306947630119">+30 6947630119</a></p>
			<hr>
			<p>{{'CONTACT.MAIL' | translate}} <a class="float-right" href="mailto:andros.adventures88@gmail.com">andros.adventures88@gmail.com</a></p>
			<hr>
			<p>{{'CONTACT.ADDRESS' | translate}}</p>
			<p> {{'CONTACT.ACTUAL_ADDRESS' | translate}}</p>
		</div>
		<div class="col-sm-1 "></div>
		<div class="col-sm-12">
			<div class="iconWrapper text-center">
				<button (click)="goToFacebook()"><img src="assets/facebook.png"></button>
				<button (click)="goToInstagram()"><img src="assets/instagram.png"></button>
				<button (click)="goToTripAdvisor()"><img src="assets/tripadvisor.png"></button>
			</div>
		</div>
		<div class="attributionWrapper col-sm-12">

			<details  class="attribution" >
				<summary>Icons Author Reference.</summary>

				<div class="attribution">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

				<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

			</details>

			<!-- <div><app-login></app-login></div> -->
			<details  class="attribution" >
				<summary class="attribution">{{'LEGAL.TITLE' | translate}}</summary>
				<div class="attribution">{{'LEGAL.BODY' | translate }}</div>
			</details>

			<div class="attribution">{{'CONTACT.CREATOR' | translate}} 
				<a style="text-decoration: underline;" target="_blank" href="http://www.letmegooglethat.com/?q=theo+sioris+linkedin">{{'CONTACT.NAME' | translate}}</a>
			</div>
		</div>
	</div>
</div>