.wrapper{
	padding-top: 10vh;
	padding-bottom: 10vh;
	background-color: rgba(122,  192, 197, 0.7);
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.bodyWrapper {
	padding-top: 5vh;

}

a {
	color: black;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

.iconWrapper {
	padding-top: 20px;
}