<div class="container-fluid wrapper">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center" >{{'NAVBAR.CONTACT' | translate}}</h2>
		</div>
		<div class="col-sm-1 col-md-3"></div>
		<div class="col-sm-10 col-md-6 bodyWrapper">
			<p>{{'CONTACT.PHONE' | translate}}<a class="float-right" href="tel:555-555-5555">555-555-5555</a></p>
			<hr>
			<p>{{'CONTACT.MAIL' | translate}} <a class="float-right" href="mailto:mymail@hto.gr">myemail@goes.here</a></p>
			<hr>
			<p>{{'CONTACT.ADDRESS' | translate}}</p>
			<p> {{'CONTACT.ACTUAL_ADDRESS' | translate}}</p>
		</div>
		<div class="col-sm-1 col-md-3"></div>
	</div>
</div>