<div class="container-fluid wrapper">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center" >{{'NAVBAR.CONTACT' | translate}}</h2>
		</div>
		<div class="col-sm-1 col-md-3"></div>
		<div class="col-sm-10 col-md-6 bodyWrapper">
			<p>{{'CONTACT.PHONE' | translate}}<a class="float-right" href="tel:00306947630119">+30 6947630119</a></p>
			<hr>
			<p>{{'CONTACT.MAIL' | translate}} <a class="float-right" href="mailto:andros.adventures88@gmail.com">adventures88@gmail.com</a></p>
			<hr>
			<p>{{'CONTACT.ADDRESS' | translate}}</p>
			<p> {{'CONTACT.ACTUAL_ADDRESS' | translate}}</p>
		</div>
		<div class="col-sm-1 col-md-3"></div>
		<div class="col-sm-12">
			<div class="iconWrapper text-center">
				<button (click)="goToFacebook()"><img src="assets/facebook.png"></button>
				<button (click)="goToInstagram()"><img src="assets/instagram.png"></button>
				<button (click)="goToTripAdvisor()"><img src="assets/tripadvisor.png"></button>
			</div>
		</div>
		<div class="attributionWrapper col-sm-12">
			
			<div class="attribution">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

			<div class="attribution" >Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

			<div class="attribution" >Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			<div><app-login></app-login></div>
		</div>
	</div>
</div>