<ng-container *ngIf="!isAdmin">
	<app-navbar></app-navbar>
	<img class="mainImage" src="assets/map.jpg">
	<hr>
	<app-scroll-logo id="home"></app-scroll-logo>
	<hr>
	<app-about id="about"></app-about>
	<hr>
	<app-dark-office id="darkOffice"></app-dark-office>
	<app-rules id="rules"></app-rules>
	<hr>
	<app-booking-wrapper id="booking"></app-booking-wrapper>
	<hr>
	<app-contact id="contact"></app-contact>
</ng-container>

<ng-container *ngIf="isAdmin">
	<div class="text-center">
	<button (click)="onDisconnect()">Αποσύνδεση</button>
</div>
	<app-booking-wrapper [isAdmin]="isAdmin"></app-booking-wrapper>
</ng-container>